* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font: normal 16px sans-serif;
  font-family: "PF Din Text Pro";
  color: #1d1d1d;
}
ul,
a,
nav {
  list-style: none;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
  color: #171717;
  font-weight: 300;
}
h6 {
  font-size: 22px;
}
p {
  font-size: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
small {
  font-size: 14px;
}
body {
  width: 100%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container {
  margin: 0 auto;
}
.background {
  background-position: center;
  background-size: cover;
}
.active_block {
  border: 1px solid green;
}
.pick_active {
  border-bottom: 1px solid green;
}
.button_wrap .button {
  padding: 15px 30px;
  border-radius: 3px;
  background-color: #009e82;
  color: white;
}
.button_wrap .button:hover {
  cursor: pointer;
  background-color: #006b58;
  -webkit-transition: .2s;
  transition: .2s;
}
.mobile_content {
  display: none;
}
.visible {
  display: block;
}
.active_m .arrow_wrap {
  -webkit-transform: rotate(-180deg) translateX(15px);
          transform: rotate(-180deg) translateX(15px);
  -webkit-transition: .3s;
  transition: .3s;
}
section {
  padding: 0 30px;
}
.box {
  display: none;
}
.box.active {
  display: block;
}
header {
  width: 100%;
  min-height: 92vh;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .intro {
  padding-top: 150px;
}
header .hidden {
  display: none;
}
header .container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 100px;
}
header .container .ring {
  position: relative;
  min-width: 346px;
  min-height: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  text-align: center;
}
header .container .ring .img_wrap {
  z-index: 2;
  padding-bottom: 43px;
}
header .container .ring h4 {
  color: #242424;
  font-family: "PF Din Text Pro";
  font-size: 28px;
  font-weight: 300;
  z-index: 2;
}
header .container .transperent {
  min-width: 356px;
  min-height: 356px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
}
header .container_mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .container_mobile .button_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px auto;
}
header .container_mobile .button_m .img_block {
  padding: 20px;
  z-index: 2;
}
header .container_mobile .button_m p {
  z-index: 2;
  font-weight: 400;
}
header .container_mobile .button_m .arrow_wrap {
  position: relative;
  padding-right: 35px;
  margin-left: auto;
}
header .container_mobile .button_m .arrow_wrap .arrow {
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #000203;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .container_mobile .button_m .arrow_wrap .arrow:after {
  position: absolute;
  content: '';
  width: 12px;
  height: 1px;
  background-color: #000203;
  -webkit-transform: rotate(-90deg) translateX(6px);
          transform: rotate(-90deg) translateX(6px);
}
header .container_mobile .button_m::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.6;
  z-index: 1;
}
header .container_mobile .button_m {
  cursor: pointer;
}
.main_section .container {
  max-width: 1257px;
}
.main_section .pick_way {
  border-bottom: 1px solid #c5c5c2;
}
.main_section .pick_way nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_section .pick_way nav li {
  text-align: center;
  width: 345px;
  padding: 40px 0;
  color: #2e2e2e;
  font-family: "PF Din Text Pro";
  font-size: 28px;
  font-weight: 400;
}
.main_section .pick_way nav li:hover {
  cursor: pointer;
  color: #7a7a7a;
  -webkit-transition: .3s;
  transition: .3s;
}
.content,
.mobile_content {
  padding-bottom: 80px;
  text-align: left;
  padding: 18px;
}
.content .description,
.mobile_content .description {
  padding: 90px 0 35px 0;
}
.content li,
.mobile_content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 20px 0;
}
.content li span,
.mobile_content li span {
  font-size: 32px;
  color: #00b596;
}
.content li p,
.mobile_content li p {
  padding-left: 10px;
}
.content .button_wrap,
.mobile_content .button_wrap {
  margin: 40px 0 40px 0;
}
.content .img_background,
.mobile_content .img_background {
  width: auto;
  height: 351px;
  margin: -10px;
}
.content .img_background img,
.mobile_content .img_background img {
  max-width: 320px;
}
